@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.jqEbony.loading:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    margin: -40px;
    border: 15px solid rgba(0, 0, 0, .4);
    border-left: 15px solid transparent;
    border-radius: 50%;
    opacity: 1;
    box-sizing: border-box;
    transition: opacity .5s;
    -webkit-animation: spin 1.5s infinite linear;
    animation: spin 1.5s infinite linear
}

.jqEbony.loading:not(.fadeIn):before {
    opacity: 0
}

.jqEbony table.jqFensterContainer {
    width: auto;
    border: none
}

.jqEbony table.jqFensterContainer td {
    background: 0 0 !important
}

.jqEbony table.jqFensterContainer td.jqFensterContent {
    padding: 0 !important
}

.jqEbony .jqFensterHolder {
    direction: ltr;
    position: fixed !important
}

.jqEbony .jqFensterModal.jqFensterModal {
    padding: 0 10px;
    top: 10px;
    background-color: rgba(255, 255, 255, .6);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    opacity: 0;
    transition: opacity .5s
}

@media (max-width:330px) {
    .jqEbony .jqFensterModal.jqFensterModal {
        padding: 0
    }
}

.jqEbony .jqFensterModal.jqFensterModal:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 50px);
    height: 20px;
    margin: -26px 25px;
    background: rgba(255, 255, 255, .6);
    border-top: 1px solid #B8B2A9;
    -webkit-transform: perspective(60px) rotateX(8deg);
    transform: perspective(60px) rotateX(8deg)
}

.jqEbony .jqFensterModal.jqFensterModal:after {
    content: '';
    position: absolute;
    top: -47px;
    left: 50%;
    margin-left: -21px;
    width: 42px;
    height: 42px;
    -webkit-transform: rotate(135deg) skew(35deg, 35deg);
    transform: rotate(135deg) skew(35deg, 35deg);
    border: 1px solid #7B746E;
    background-image: linear-gradient(225deg, #fff79f, #f5c81e 30%, #deb003 50%, #fff79f 51%, #ffdd5b);
    z-index: 2;
    filter: blur(1px);
    -webkit-filter: blur(1px)
}

.jqEbony .jqFensterModal.jqFensterModal div.jqFensterModalContent {
    position: relative;
    bottom: 10px;
    background: linear-gradient(#FFF, #DAD8D5);
    background-position: center;
    border: 1px solid #B8B2A9;
    padding: 0;
    z-index: 1
}

.jqEbony .jqFensterModal.jqFensterModal div.jqFensterModalContent:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .55;
    background: url(../../img/ltr/bgPattern.png)
}

.jqEbony .jqFensterModal.jqFensterModal div.jqFensterModalContent iframe {
    position: relative !important;
    z-index: 1
}

.jqEbony .jqFensterModal.jqFensterModal div.jqFensterModalContent a.jqFensterClose,
.jqEbony .jqFensterModal.jqFensterModal div.jqFensterModalContent a.jqFensterModalClose {
    right: 10px;
    left: auto;
    margin: 0;
    width: auto;
    height: 14px;
    line-height: 14px;
    font-size: 32px;
    font-weight: 700;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    background-color: transparent;
    color: #888;
    padding: 0;
    z-index: 1
}

.jqEbony .jqFensterModal.jqFensterModal div.jqFensterModalContent a.jqFensterClose:hover,
.jqEbony .jqFensterModal.jqFensterModal div.jqFensterModalContent a.jqFensterModalClose:hover {
    color: #a5c500
}


